<ion-app>  
  <!--DENTRO DEL HEADER IRÍA EL BURGUER MENU, EL LOGO DE TDI Y EL ICONO DE USUARIO-->
  <div class="app-header">
    <div class="menu-tdi-sac">
      <ul class="listado-menu-sac">
        <li class="menu-hamburguesa"><img src="../../../assets/img/menu.png" alt="icono-menu"></li>
        <li class="logo-tdi"><img src="../../../assets/img/logo-tdi.png" alt="icono-menu"></li>
        <li class="icono-usuario"><img src="../../../assets/img/usuario.png" alt="icono-menu"></li>
      </ul>
    </div>
  </div>

  <div class="general-container"><img class="fondo-tdi" src="../../../assets/img/fondo.png">
    <ion-router-outlet></ion-router-outlet> 
  </div>
</ion-app>
